@model CategoryListViewModel

<h2>Kategoriler</h2>
<table class="list-group">
    <a href="/product/index" class="list-group-item">Tüm Ürünler</a>
    @foreach (var category in Model.Categories)
    {
        @*<li class="list-group-item"> @category.CategoryId</li>*@

    var css = "list-group-item";
    if (category.CategoryId==Model.CurrentCategory)
    {
        css += " active";
    }
        <a href="/product/index?category=@category.CategoryId" class="@css">@category.CategoryName</a>


        @*<tr>
                <td>@category.CategoryId</td>
                <td>    </td>
                <td>@category.CategoryName</td>
            </tr>*@
    }
</table>
